*{
box-sizing: border-box;

}


h1{
    background-color: azure;
    text-align: center;
    padding: 50px;
}

p{
    padding: 20px;
    background-color: azure;
    text-align: center;
}

#homer{
    background-color: azure;
    display: flex;
    margin: auto;
}

button{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 100px;
    height: 50px;
}

input{
    margin: auto;
    display: flex;
    margin-top:10px;
}

body {
    background-color: #171717;
    margin: 0;
    overflow: hidden;
}

#drawing_canvas {
    position: absolute;
    margin: auto;

    width: 50%;
    height: 50%;
    top: 0;
    bottom: 10;
    left: 0;
    right: 0;
}

#confetti{
    background: #000;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
  }

  