@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #E6E6FA;
}

#container{
    width: 50vw;
    min-height: 40vh;
    margin: auto;
    display: flex;

    background-color: #E0FFFF;background-image: repeating-linear-gradient(180deg, transparent, transparent 5px, rgba(0, 0, 0, 0.1) 5px, rgba(0, 0, 0, 0.1) 10px);
        padding: 20px;
    border-style:groove;

    
    flex-direction: column;
    align-items: center;
}

h1{
    padding-bottom: 0%;
    margin-bottom:0;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}

ul{
    /* text-align: center; */
    /* width: 50%; */
    margin-top: none;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* input{
    margin-left: 25px;
    margin-top:10px;
    width:  30vw;
    text-align: center;
} */


#submit{
    margin: auto;
    padding:10px;
}

li{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

form{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    gap: 3px;
}

input{
    height: 5vh;
    grid-column: 1/4;
}

.submit{
    grid-column: 1/3;
    width: 100%;
}

.clear{
    grid-column: 3/3;
    padding:10px;
}

.completed{
    background-color: antiquewhite;

}

#baby-grid{
    margin:auto;
}